.petition-container {
  border: 2px solid rgb(23, 11, 200);
  padding: 20px; /* Aumenta el relleno para un aspecto más elegante */
  margin: 20px; /* Aumenta el margen para separar visualmente de otros elementos */
  border-radius: 10px;
}

.petition-form {
  display: grid;
  gap: 20px; /* Aumenta el espacio entre los elementos del formulario */
}

.error {
  border: 2px solid red;
}

button {
  padding: 15px 20px; /* Aumenta el relleno para un aspecto más equilibrado */
  cursor: pointer;
  border-radius: 50px;
}

button.gray-button {
  background-color: #ccc;
  color: #fff;
}

button.blue-button {
  background-color: #007bff;
  color: #fff;
}

.error-message {
  color: red;
  margin-top: 5px; /* Espaciado superior más pequeño para el mensaje de error */
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.confirmation-message {
  margin-top: 15px; /* Aumenta el margen superior para separar el mensaje de los botones */
  color: green;
  font-weight: bold;
}
