/* petition.component.css */
.petition-container {
    border: 2px solid rgb(23, 11, 200);
    padding: 10px;
    margin: 10px;
}

.petition-form {
    display: grid;
    gap: 10px;
}

.error {
    border: 2px solid red;
}
button {
  margin-right: 10px; /* Ajusta el margen entre los botones según sea necesario */
  padding: 10px; /* Ajusta el relleno de los botones según sea necesario */
  cursor: pointer;
  border-radius: 50px;
}

button.gray-button {
  background-color: #ccc; /* Color gris para el botón de fecha */
  color: #fff; /* Texto blanco para el botón de fecha */
}

button.blue-button {
  background-color: #007bff; /* Color azul para el botón de enviar */
  color: #fff; /* Texto blanco para el botón de enviar */
}
.error-message {
  color: red; /* Color rojo para el mensaje de error */
  margin-top: 2px; /* Espacio superior para separar el mensaje de error del textarea */
}
textarea {
  width: 100%;
}
.confirmation-message {
  margin-top: 10px; /* Añade un margen superior para separar el mensaje de los botones */
  color: green; /* Cambia el color del mensaje de confirmación a verde (puedes ajustar según tu preferencia) */
  font-weight: bold; /* Hace que el texto sea más destacado */
}