<div class="card" style="width: 18rem;" (click)="expandCard()">
    <img src="/assets/foto/logo.png" class="card-img-top" alt="Class Image">
    <div class="card-body">
        <h5 class="card-title">{{ truncateText(classData.description, 40) || 'Nombre de la Clase' }}</h5>
        <p class="card-text">Tipo: {{ truncateText(classData.type, 40) || 'No especificado' }}</p>
        <p class="card-text">Duración: {{ truncateText(classData.duration, 40) || 'No especificada' }}</p>
        <p class="card-text"> Descripcion: {{ truncateText(classData.description, 40) || 'Descripción no disponible' }}
        </p>
        <div class="d-flex justify-content-between mt-3">
            <div class="button-container-small">
                <button class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
                <button class="btn btn-primary" (click)="editClass()">Modificar</button>
            </div>
        </div>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <!-- Contenido de la tarjeta -->
    <app-class-expansion *ngIf="isExpanded" [classData]="classData" (closePopupEvent)="closePopup()"></app-class-expansion>
</div>
