@import 'https://unpkg.com/leaflet@1.7.1/dist/leaflet.css';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.expanded-content {
  background-color: white;
  width: 90%;
  height: 90%;
  max-width: 1200vw; /* ajusta el ancho máximo según tu preferencia */
  max-height: 90vh;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.description-container {
  width: 50%; /* Ajusta el ancho de la información a la mitad del contenedor expandido */
  padding-right: 20px;
  border-right: 1px solid black; /* Agregado borde derecho */
}

.map-container {
  width: 500px;
  height: 500px;
  margin-top: 20px;
}

.scrollable-content {
  max-height: 100%;
  overflow-y: auto;
}

.additional-info {
  width: 50%; /* Ajusta el ancho de la información adicional a la mitad del contenedor expandido */
  padding-left: 20px;
  border-color: aqua;
  border-radius: 12px;
}

.button-container-small,
.button-container-expanded {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-info,
.btn-secondary {
  height: 5%; /* Establece el 5% de la altura para los botones */
}

hr {
  width: 90%;
}

@media screen and (max-width: 768px) {
  .expanded-content {
    flex-direction: column;
  }

  .description-container,
  .map-container,
  .additional-info {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .map-container {
    height: 300px; /* Ajusta la altura del mapa en dispositivos móviles según tus necesidades */
    overflow-y: auto; /* Agrega desplazamiento vertical en dispositivos móviles */
    margin-bottom: 20px; /* Añade margen inferior para evitar que el mapa se solape con el contenido siguiente */
  }

  .additional-info {
    margin-bottom: 20px; /* Añade margen inferior para separar la información adicional del siguiente contenido */
  }
}
